<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hej is a simple starter for 11ty" />
    <link href="/assets/css/prism-atom-dark.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <title>{{ title or metadata.title }}</title>
</head>
<body>
    
 {{ content | safe }}
  
  <footer class="footer container">
    <small class="muted">&copy; 2023. Oguchi Nzekwe &sdot;
      <a href="https://mastodon.social/@oguching" class="clr-mastodon">Mastodon</a> &sdot;
      <a href="https://twitter.com/oguching" class="clr-twitter">Twitter</a> &sdot;
      <a href="https://github.com/oguching" class="clr-github">Github</a>
    </small>
  </footer>
</body>
</html>