---
layout: layouts/base.njk
---



<header class="container">
    <div class="container--header">
      <a href="#">
        <img class="profile-pic" src="./assets/img/profile-pic-girl-in-hat.jpg"></img>
      </a>
    </div>
    <h1>{{ title }}</h1>
</header>


<section class="container container--content">
{%- for post in collections.posts | reverse -%}
  <div class="split post-lists">

  
    <div class="post-list">
      <a href="{{post.url}}">{{ post.data.title }}</a>
    </div>
    <div>
      <time>{{ post.date.toLocaleDateString('en-US', {
                month: 'short',
                day: 'numeric'
            }) }}
      </time>
    </div>
  
    
  </div>
  
{% endfor %}  
   
    <div class="btn-container">
    <form >
      <button type="submit" formaction="/archives" class="btn-archives">Archives</button>
    </form>
    </div>
  
</section>

<section class="about-section">
<div class="container">
  <h2>About</h2>
  <p>A brief note about me. <a href="/about">Read more &rarr;</a></p>
</div>
</section>

<section class="container">
  <nav class="nav-links">
    <ul>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/now">Now</a></li>
      <li><a href="/archives">Archives</a></li>
    </ul>
  </nav>
</section>