---
layout: layouts/base.njk
---

<header class="container">
    <div class="container--header">
      <a href="#">
        <img class="profile-pic" src="./assets/img/profile-pic-girl-in-hat.jpg"></img>
      </a>
    </div>
    <h1 class="">{{ title }}</h1>
</header>

 <section class="container container--content">
    <div class="split post-lists">
      <div class="post-list"><a href="#">
          Exploring the Power of Music: How it Affects our Emotions.</a>
      </div>
      <div>Apr 3</div>
    </div>
  
    <div class="split post-lists">
      <div class="post-list"><a href="#">
          Discovering Hidden Treasures</a>
      </div>
      <div>Mar 15</div>
    </div>
  
    <div class="split post-lists">
      <div class="post-list"><a href="/posts/uncovering-the-vibrant-underground">
          Uncovering the Vibrant Underground.</a>
      </div>
      <div>Feb 9</div>
    </div>
    <div class="btn-container">
      <button class="btn-archives">Archives</button>
    </div>
  
</section>

<section class="about-section">
<div class="container">
  <h2>About</h2>
  <p>A brief note about me. <a href="/about">Read more &rarr;</a></p>
</div>
</section>