---
layout: layouts/base.njk
---

<section class="container">
    <div>   
        <header class="container--header">
            <nav> 
                <ul class="nav--list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/now">Now</a>
                    </li>
                </ul>
            </nav>
            <h2>{{ title }}</h2>
        </header>
    
        {{ content | safe }}
    </div>
</section>

