*,
:after,
:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

:root {
  --color-body-bg: rgb(247 247 247);
  --color-primary: rgb(40 40 40);
  --color-secondary: rgb(91 91 102);
  --color-secondary-light: rgb(240 240 240);
  --color-light: rgb(252 255 255);
  --color-accent: rgb(241 38 38);
  --color-mastodon: #595aff;
  --color-twitter: rgb(29 155 240);
  --color-github: #1f2328;
  --color-accent-complement: rgb(13 59 102);
  --font-family-sans-serif: "DM Sans", system-ui, sans-serif;
  --font-size-base: 130%;
}
  
a:not([class]) {
  text-decoration-skip-ink: auto;
}
  
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

body {
  background-color: var(--color-body-bg);
  color: var(--color-primary);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  line-height: 1.6;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  text-rendering: optimizeSpeed;
} 

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 1.6rem 0 1.38rem;
    font-family: var(--font-family-sans-serif);
    line-height: 1.3;
  }
  
  h1 {
    font-size: 3.157rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.369rem;
  }
  
  h3 {
    font-size: 1.777rem;
  }
  
  h4 {
    font-size: 1.333rem;
  }

p {
  margin-bottom: 1.2rem;
}

  
img, 
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
  
.container {
  width: 100%;
  max-width: 45rem;
  margin-inline: auto;
  padding: 0 1.5rem;
}
  
  .container--header {
    padding: 12rem 0 0 0;
  }
  
  .container--content {
    margin-bottom: 3rem;
  }


  .profile-pic {
    border: 0.2rem solid var(--color-light);
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    max-width: 150px;
    width: 100%;
    height: 100%;
    background: url("./public/img/profile-pic-girl-in-hat.jpg");
  }
  
  .split {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .post-lists {
    margin-bottom: 1rem;
  }
  
  .post-list {
    max-width: 85%;
  }
  
  .post-list + div {
    color: var(--color-secondary);
    flex: 0 0 auto;
  }

  .muted {
    color: var(--color-secondary);
  }
  
  .btn-archives {
    background-color: rgb(130, 130, 130, 0.325);
    border: 0.015em solid var(--color-light);
    font-family: inherit;
    font-size: 1.333rem;
    padding: 0.615rem 1.455rem;
    border-radius: 0.215em;
    margin: 2.6rem auto;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 #ccc;
    transition: box-shadow ease 0.5s, border ease 0.5s, background-color ease 1.5s;
  }
  
  .btn-archives:hover {
    box-shadow: 0.15rem 0.15rem var(--color-accent);
    border: 0.015em solid var(--color-accent);
    background-color: var(--color-light);
  }
  
  .btn-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .about-section {
    background-color: rgba(255, 255, 255, 90%);
  padding: 8rem 0;
  border-top: 2px solid var(--color-light);
  border-bottom: 2px solid var(--color-light);
  }

  .about-section div h2 {
    margin: 0;
  }
  
  .about-section a {
    outline: none;
    color: var(--color-primary);
  }

  .about-section a:link {
    text-decoration: underline;
  }

  .about-section a:visited {
    color: var(--color-secondary)
  }

  .about-section a:focus {
    background: var(--color-accent-complement)
  }
  
  .about-section a:hover {
    color: var(--color-accent);
    text-decoration: none;
  }

  .about-section a:active {
    color: var(--color-accent-complement)
  }
  
  .footer {
    font-size: 80%;
    text-align: center;
    padding: 1rem 0;
  }

  .clr-mastodon {
    color: var(--color-mastodon);
  }
  
  .clr-twitter {
    color: var(--color-twitter);
  }

  .clr-github {
    color: var(--color-github);
  }
  
  
  
@media screen and (min-width: 485px) {
  body {
    line-height: 1.75;
  }
  h1 {
    font-size: calc(4.209rem + 1.2vmin);
  }
  h2 {
    font-size: calc(3.157rem + 1.2vmin);
  }
}