*,
:after,
:before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}



:root {
    --color-primary: #282828;
    --color-secondary: #5b5b66;
    --color-accent: #f4511c;
    --color-secondary-light: #f0f0f0;
    --font-family-sans-serif: "DM Sans", Inter, -apple-system, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
    --font-size-base: 140%;
  }
  
a:not([class]) {
  text-decoration-skip-ink: auto;
}
  
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

body {
  font-family: var(--font-family-sans-serif);
  line-height: 1.6;
  color: var(--color-primary);
  font-size: 1.333rem;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
} 
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 1.6rem 0 1.38rem;
    font-family: "DM Sans", sans-serif;
    line-height: 1.3;
  }
  
  h1 {
    font-size: 4.209rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 3.157rem;
  }
  
  h3 {
    font-size: 2.369rem;
  }
  
  h4 {
    font-size: 1.777rem;
  }
  
  h5 {
    font-size: 1.333rem;
  }
  
img, 
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
  
  .container {
    width: 100%;
    max-width: 40rem;
    margin-inline: auto;
    padding: 0 1.5rem;
  }
  
  .container--header {
    background-size: cover;
    padding: 12rem 0 0 0;
  }
  
  .container--content {
    margin-bottom: 3rem;
  }


  .profile-pic {
    border-radius: 50%;
    max-width: 150px;
    width: 100%;
    height: 100%;
    background: url(https://avatarfiles.alphacoders.com/229/229179.jpg);
  }
  
  .split {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .post-lists {
    margin-bottom: 1rem;
  }
  
  .post-list {
    max-width: 85%;
  }
  
  .post-list + div {
    color: var(--color-secondary);
    flex: 0 0 auto;
  }
  
  .btn-archives {
    background-color: var(--color-secondary-light);
    border: 0.015em solid #fff;
    font-family: inherit;
    font-size: 1.333rem;
    padding: 0.615rem 1.455rem;
    border-radius: 0.215em;
    margin: 2.6rem auto;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 #ccc;
    transition: box-shadow ease 0.5s, border ease 0.5s, background-color ease 1.5s;
  }
  
  .btn-archives:hover {
    box-shadow: 0.15rem 0.15rem var(--color-accent);
    border: 0.015em solid var(--color-accent);
    background-color: rgb(255, 255, 255);
  }
  
  .btn-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .footer {
    text-align: center;
    padding: 1rem 0;
  }
  